.meme-div{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme-div >form{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 4px;
 
}

form input{
  outline: none;
  color: gray;
  border-radius: 10px;
 
  
}

.meme-div button{
   margin-bottom: 2rem;
   padding: 4px 20px;
   border-radius: 10px;
   background: rgb(197, 69, 197);
   color: white;
   border: none;
  cursor : pointer
   
}

.imgdiv{
  width: 400px;
  height: 300px;
  border-radius: 10px;
  background: #000;
  position: relative;
}

.imgdiv img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
}


#top{
   position: absolute;
   top:20px ;
   left:20px;
   color: white;
   text-transform: uppercase;
   text-shadow:
   2px 2px 0 #000,
   -2px -2px 0 #000,
   2px -2px 0 #000,
   -2px 2px 0 #000,
   0 2px 0 #000,
   2px 0 0 #000,
   0 -2px 0 #000,
   -2px 0 0 #000,
   2px 2px 5px #000;
   overflow-x: hidden;
    
}
#bottom{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    text-transform: uppercase;
    text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
    overflow-x: hidden;
 }
